<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/quiz/create/"> 
            <span>
                create quiz 	&nbsp; 
            </span>
            <img id="moreIcon" src="/assets/icons/more.svg" alt="no image" />
            </a>
        </li>
        <!-- <li><a href="/quiz/list/">find quiz</a></li> -->
    </ul> 
</nav>