<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %>
</head>
<body>
    <h1>Quiz Game</h1>

    <nav>
        <a href="/quiz/create">create quiz</a>
        <a href="/quiz/list">find quiz</a>
    </nav>
</body>
</html>