<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %>
</head>
<body>
    <%- include("../partials/nav")  %>
    <h1>Quiz Game</h1>
    <form>
        <label for="quizTitleInput">Find Quiz by Title</label>
        <input type="text" name="quizTitleInput" id="quizTitleInput" onchange="myfun()">
    </form>

    <script src="">

    </script>
    <script src="/assets/base/js/jquery-3.5.1.min.js">
    </script>
    <script src="/assets/base/js/findQuizById.js">
    </script>
</body>
</html>