

:root{
    --col_0 : #FFFFFF;
    --col_1 : #EFEEEE;
    --col_2 : #DFDDDD;
    --col_3 : #CFCDCD;
    --col_4 : #BEBCBC;
    --col_5 : #AEABAB;
    --col_6 : #9E9A9A;
    --col_7 : #8E8A8A;
    --col_8 : #7E7979;
    --col_9 : #6E6868;
    --col_10 : #5D5757;
    --col_11 : #4D4747;
    --col_12 : #3D3636;
    --col_13 : #2D2525;

}

* {
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    color: var(--col_13);
    letter-spacing: 1px;
}

body{
    padding: 0 20%;
    background-image: linear-gradient(to right, var(--col_0) , var(--col_1));
    overflow-x: hidden;
}

input:focus{
    /* border: none; */
    outline: none;
}

label{
    display: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--col_8);
    opacity: 1; /* Firefox */
  }

.container{
    top:15%;
    transform: translateY(-0%);
    position: absolute;
    display: block;
    width: 60%;
}



.myButton{
    border-radius: 21px;
    background-color:var(--col_1);
    box-shadow: 5px 5px 5px var(--col_2),
    -5px -5px 5px var(--col_0);
}

.submitBtn{
    position: relative;
    float: right;
    padding: 5px 20px;
    width: 150px;
    background-color: var(--col_3);
    color: var(--col_0);
    font-size: 20px;
    font-weight: 600;
}