<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %>
</head>
<body>
    <%- include("../partials/nav")  %>

    <div class="container">
        <h1 class="title">Create new quiz</h1>
    
        <form action="/quiz/create/" method="POST">
            <label for="title">Quiz Title</label>
            <input type="text" class="textInput myButton" name="title" id="title" />
            <button type="submit" class="iconContainer myButton">
                    <img class="icon" src="/assets/icons/arrow.svg" alt="no image" />
            </button>
        </form>
    </div>


</body>
</html>

